@import "tailwindcss";
@plugin "daisyui";


@layer components {
  .linkClassNavBar {
    @apply btn btn-ghost text-lg relative
        border-0 hover:border-0 hover:bg-transparent hover:shadow-none
        focus:outline-none focus:ring-0 active:border-0 active:bg-transparent
        transition-none
        hover:text-purple-200
  }

  .pixelart {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  .animate-slide {
    animation: slide 10s linear infinite;
  }
  
}

@keyframes slide {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
